<div class="jumbotron">
  <p id="notice"><%= notice %></p>

<h1>Listing Stores</h1>

<table>
  <thead>
    <tr>
      <th>Purchaser name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Purchase count</th>
      <th>Merchant address</th>
      <th>Merchant name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.purchaser_name %></td>
        <td><%= store.item_description %></td>
        <td><%= store.item_price %></td>
        <td><%= store.purchase_count %></td>
        <td><%= store.merchant_address %></td>
        <td><%= store.merchant_name %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <div class="btn btn-success btn-block">
    <%= link_to 'Voltar para home', root_path %>
    </div>
    <div class="btn btn-info btn-block">
      <%= link_to 'New Store', new_store_path %>
    </div>
</div>