<div class="jumbotron">
  <p id="notice"><%= notice %></p>
    <h1>Mostrando dados do BD</h1>
<p>
  <strong>Purchaser name:</strong>
  <%= @store.purchaser_name %>
</p>

<p>
  <strong>Item :</strong>
  <%= @store.item_description %>
</p>

<p>
  <strong>Item :</strong>
  <%= @store.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @store.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @store.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @store.merchant_name %>
</p>
    <div class="btn btn-success btn-block">
      <%= link_to 'Edit', edit_store_path(@store) %> |
    </div>
    <div class="btn btn-info btn-block">
      <%= link_to 'Back', stores_path %>
    </div>
</div>